@media only screen and (min-width: 200px) and (max-width: 575px) {
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }
    .logo{
        padding: 10px;
    }
    .headerAddress{
        padding: 10px;
    }
    .headerLeft{
        justify-content: center;
    }
    .headerAddress h3{
        font-size: 15px;
    }
    .searchBox button{
        padding: 10px;
    }

    .headerBtn{
        position: fixed;
        width: 100%;
        background-color: white;
        margin-right: 0;
        justify-content: center;
        bottom: 0;
    }
    .orderBanner{
        padding: 10px;
        flex-direction: column;
    }
    .categoryItems{
        flex-basis: 25%;
    }
    .productSection{
        padding: 30px 10px;
    }
    
    .productItems{
        flex-basis: 49%;
    }
    .footer{
        padding-top: 0px;
    }
    .footer-mid-row1{
        padding: 10px;
        flex-direction: column;
    }
    .footer-mid-row3{
        padding: 0px 10px;
    }
    .footer-mid-row2{
        gap: 20px;
        flex-direction: column;
    }
}
